img{
  width: 360px;
  height: 200px;
}
h2 {
  color: blue;
 
}
#yuckyvegtable {
  width: 130px;
  height: 200px;
} 
marquee
 {
   font-size: 65px;
}
body {
  background: teal;
font-family:"short stack";}
